* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 1.111vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 2.083vw;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 4.4vw;
  }
}
.header {
  background-color: #14063D;
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.logogames {
  height: 2, 8125rem;
  width: 5.9375rem;
}

.menu {
  padding: 0.75rem;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 50%;
  margin: 0;
  padding-left: 1.75rem;
  list-style: none;
  text-align: center;
  background-color: #800BF5;
  opacity: 0.8;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__about {
  display: block;
  color: #FFF;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  line-height: 120%;
  text-decoration: none;
  padding: 1.5rem;
}

.menu__vacancies {
  display: block;
  color: #FFF;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  line-height: 120%;
  text-decoration: none;
}

.menu__startplay {
  display: block;
  color: #FFF;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  line-height: 120%;
  text-decoration: none;
  padding: 1.5rem;
}

.menu__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.title__top > span {
  background: linear-gradient(89deg, #800BF5 0%, #25C6F9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title__top {
  color: #FFF;
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  line-height: 100%;
}

.title__subtitle {
  color: #FFF;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  font-feature-settings: "ss05" on;
}

.title__subtitle > span {
  color: #49CBF4;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  width: 19.5625rem;
}

.gamesform {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 13.4375rem;
  background: url(/images/header/header-bg-img.png) no-repeat center, url(/images/header/header-img2.svg) no-repeat right top, url(/images/header/header-img1.svg) no-repeat left center;
}

.gamesform__container {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
}

.gamesform__email {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  color: #FFF;
  padding-left: 1.5rem;
  flex-grow: 4;
  gap: 0.5rem;
  border-radius: 8.5rem;
  border: none;
  background: var(--white-20, rgba(255, 255, 255, 0.2));
  -webkit-backdrop-filter: blur(1.75rem);
          backdrop-filter: blur(1.75rem);
  font-feature-settings: "ss05" on;
}

.gamesform__arrow {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  border: none;
  border-radius: 8.5rem;
  -webkit-backdrop-filter: blur(1.75rem);
          backdrop-filter: blur(1.75rem);
  background: var(--white-20, rgba(255, 255, 255, 0.2));
}

.gamecards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
}

.games__img {
  width: 20.5rem;
  height: 12.5rem;
  border-radius: 1rem;
}

.games__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.games__subtitle {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  font-feature-settings: "ss05" on;
  font-family: "PT Sans", sans-serif;
}

.games__summary {
  color: #FFF;
  opacity: 0.4;
  font-size: 1rem;
  line-height: 120%;
  font-feature-settings: "ss05" on;
  font-family: "PT Sans", sans-serif;
}

.gamecards {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gamecards__carusel {
  display: flex;
  width: 300%;
  transition: transform 0.5s;
}

.games {
  flex: 1;
}

.header__banner {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 2.5rem 0 2.5rem;
  }
  .title__top {
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    line-height: 100%;
  }
  .title__subtitle {
    font-family: "Russo One", sans-serif;
    font-size: 1.25rem;
    line-height: 120%;
  }
  .header__banner {
    border-radius: 1.5rem;
    border: none;
  }
}
@media screen and (min-width: 1440px) {
  .header_logo {
    display: flex;
    flex-direction: column;
  }
  .logogames {
    display: flex;
    justify-content: center;
    font-size: 4.4vw;
  }
}
@media screen and (min-width: 360px) {
  .together {
    background: #14063D;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .together__banner {
    width: 100%;
  }
  .together__header {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    border-radius: 3rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    color: #FFF;
    opacity: 0.6;
    padding: 0.5rem 1rem 0.4375rem 1rem;
    margin-top: 4rem;
  }
  .together__content {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .together__head {
    font-size: 1.5rem;
    line-height: 120%;
    font-family: "Russo One", sans-serif;
    color: #FFF;
    margin-top: 2rem;
  }
  .together__content__p {
    font-size: 1.5rem;
    line-height: 120%;
    font-family: "PT Sans", sans-serif;
    color: #FFF;
    padding: 5.5rem 0;
  }
  .together__content__ellipse {
    position: absolute;
    opacity: 0.5;
  }
  .together__content__switch {
    display: flex;
    width: 20.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 7.875rem;
  }
  .together__play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.25rem;
    line-height: 120%;
    font-family: "PT Sans", sans-serif;
  }
  .together__play__head {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
    font-family: "PT Sans", sans-serif;
    color: #FFF;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
  .together__play__button {
    border: 0;
    width: 20.5625rem;
    height: 3rem;
    border-radius: 3.5rem;
    background: linear-gradient(90deg, #800BF5 0%, #25C6F9 100%);
    padding: 1rem 2.5rem;
    color: #FFF;
    font-size: 1rem;
    line-height: 120%;
    font-family: "PT Sans", sans-serif;
  }
  .together__btn__play {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */