$font-global-color: #FFF;
$background-global-color: #14063D;
$font-color: #49CBF4;
$background-global-gradient-color:  linear-gradient(89deg, #800BF5 0%, #25C6F9 100%);
$header-button-color: linear-gradient(90deg, #800BF5 0%, #25C6F9 100%);
$header-input-color: rgba(255, 255, 255, 0.20);
$font-p-color: rgba(255, 255, 255, 0.50);
$background-block-color: #800BF5;
$background-ball-color: #E4EBF1;
$gradient-color: #00C2FF;
$background-citation-color: radial-gradient(104.31% 140.46% at 6.67% -4.97%, #800BF5 0%, rgba(128, 11, 245, 0.23) 46.56%, rgba(128, 11, 245, 0.08) 63.12%, rgba(128, 11, 245, 0.03) 73.24%, rgba(128, 11, 245, 0.00) 85.56%);
$background-accordion-color: linear-gradient(90deg, #00C2FF 0%, rgba(73, 203, 244, 0.00) 100%);
$font-accordion-color: #14063D;